:root {
	/* білий колір і задивка стор #ffffff */
	--white-kolor: #ffffff;

	/* колір основного тексту і заливка  #2E2F42 */
	--title-text-color: #2e2f42;

	/* колір другорядного тексту #434455 */
	--secondary-text-color: #434455;

	/* синя кнопка і веб IRIS color #4D5AE5 */
	--iris-web: #4d5ae5;
	/* button for portfolio#404BBF */
	--ocean-color: #404bbf;
	/* hover and focus */
	--hover-focus: #404bbf;
	/* colors footer studio  #F4F4FD;*/
	--color-text-p: #f4f4fd;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
}

body {
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	color: var(--secondary-text-color);
}

.header-container {
	display: flex;
	align-items: center;
}

.container {
	width: 1158px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* header */

.header {
	display: flex;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 24px;
}

.nav {
	display: flex;
	align-items: center;
	column-gap: 76px;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris-web);
	margin-right: 76px;
}

.logosp {
	color: var(--title-text-color);
}
.logo:hover,
.logo:focus {
	color: var(--iris-web);
}

/* Body Medium */
.menu {
	display: flex;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
	gap: 40px;
}

.menulk{
	padding: 24px 0;
}

.menu:hover,
.menu:focus {
	color: var(--hover-focus);
}

.address {
	font-style: normal;
	margin-left: auto;
}

.address-list {
	display: flex;
}

.add {
	color: var(--secondary-text-color);
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.add:hover,
.add:focus {
	color: var(--ocean-color);
}

.tel {
	margin-left: 40px;
}

/* Header 1 */

.hero {
	background-color: var(--title-text-color);
}

.hero-container {
	padding-top: 188px;
	padding-bottom: 188px;
}

.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
	/* розмітка */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
}

/* Button */
.modal-btn {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;
	background-color: var(--iris-web);
	/* розмітка */
	margin-left: auto;
	margin-right: auto;
	min-width: 169px;
	height: 56px;
	border: none;
	border-bottom: 1px solid #e7e9fc;
	border-radius: 4px;
	padding: 16px 32px 16px 32px;
}

.modal-btn:hover,
.modal-btn:focus {
	background-color: var(--hover-focus);
}

.filtrbtn {
	color: var(--iris-web);
}

.filtrbtn:hover,
.filtrbtn:focus {
	color: var(--white-kolor);
	background-color: var(--ocean-color);
}

.spdt {
	display: flex;
	align-items: center;
	padding-top: 120px;
	padding-bottom: 120px;
}

.list-spdt {
	display: flex;
	align-items: center;
	gap: 24px;
}

.hidden {
	color: var(--title-text-color);
	font-style: normal;
}

/* Header 3 */
.title-list {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
	margin-bottom: 8px;
}

.title-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}

/* Header 2 */
.aboutus {
	padding-top: 0;
}

.wrwd {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--title-text-color);

	margin-bottom: 72px;
}

.wrwd-container {
	padding-bottom: 120px;
}

.card-wrwd {
	display: flex;
	gap: 24px;
}

.section-portfolio {
	background-color: var(--white-kolor);
}
/* Header 3 */

.team {
	background-color: var(--color-text-p);
}

.team-list {
	width: 360px;
}

.team-our {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--title-text-color);
	/* розмітка */
	margin-left: auto;
	margin-right: auto;
	padding-top: 120px;
	margin-bottom: 72px;
}

.our-team {
	display: flex;
	align-items: center;
	gap: 24px;
	padding-bottom: 120px;
}

.team-list {
	background-color: var(--white-kolor);
}

.image {
	display: block;
}

.team-card {
	padding: 32px 16px;
}

.list-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
}

.list-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
	/* розмітка */
	margin-top: 8px;
}

.footer {
	background-color: #2e2f42;
	padding-top: 100px;
	padding-bottom: 100px;
}

.footerlg {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris-web);
}

.footer-logosp {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--color-text-p);
}

.footer-description {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #f4f4fd;
	/* розмітка */
	display: flex;
	margin-top: 16px;
	max-width: 264px;
}

.filtr {
	display: flex;
	justify-content: center;
	padding-top: 96px;
	padding-bottom: 72px;
	gap: 24px;
}

.list-menufltr {
	display: flex;
	align-items: center;
	gap: 48px 24px;
	flex-wrap: wrap;
	padding-bottom: 120px;
}

.filter {
	/* display: flex; */
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 16px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border: 1px solid #e7e9fc;
	gap: 8px;
}

.h3-filters {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
}

.p-filters {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}

/* PORTFOLIO  */
.filtrbtnprt {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.04em;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--iris-web);
	background-color: var(--color-text-p);
	cursor: pointer;
	/* розмітка */
	display: block;
	padding: 12px 24px;
	border-radius: 4px;
	border: 1px solid var(--border-button);
}

.filtrbtnprt:hover,
.filtrbtnprt:focus {
	color: var(--white-kolor);
	background-color: var(--ocean-color);
}

.prtname {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
}

.р